/* Master Styles */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr; /* Create these columns in the grid with 1fr or 1 fractional unit. */
}

/* Nav Styles */
.nav-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

/* Able to traverse down a tree, look at 37:30 for better explanation */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em; /* percent size of what it would normally be -> 0.9em == 90% */
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; /* Set up fade-in with buttons, Half a second fade-in */
}

/* The extra space plus a means I want you to grab just the a link in the nav-link-wrapper */
.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s; /* Setting it up for two animations, first color and then border-bottom */
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Portfolio Syles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Give each one of the columns and give three of them */
}

.portfolio-item-wrapper {
    position: relative; /* Lets us have flexibility with positioning of items inside the element */
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute; 
    top: 0; /* Positioned at the very top and all elements inside will use flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}